<form id="form_login">
    <div class="form-group row">
        <label for="building" class="col-sm-4 col-form-label">ID</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" ng-model="id_val">
        </div>
    </div>
    <div class="form-group row">
        <label for="building" class="col-sm-4 col-form-label">Password</label>
        <div class="col-sm-8">
            <input type="password" class="form-control" ng-model="pw_val">
        </div>
    </div> 
    <div class="form-group row">
        <div class="col-sm-12">
            <button type="button" id="click_login" class="btn btn-primary" ng-click="clickLogin()">Login</button>
        </div>
    </div>
    <div style="text-align: center; color: red">{{ login_status }}</div>
</form>


<!-- <img id="test" /> -->